* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Hensa";
  src: url("../public/Hensa.otf");
  /* Nếu bạn có nhiều định dạng font, bạn có thể liệt kê chúng ở đây */
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/Quicksand-VariableFont_wght.ttf");
  /* Nếu bạn có nhiều định dạng font, bạn có thể liệt kê chúng ở đây */
}
@keyframes move-wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
